.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(128 128 128);
  height: 270px;
  width: 270px;
}

.icon {
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-image: url('~/assets/images/icons.png');
}

.cell {
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 1px solid rgb(72 72 72);
}

.stone {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(87 87 87);
}
