.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  height: 270px;
  width: 270px;
}

.icon {
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-image: url('~/assets/images/icons.png');
}

.flag {
  height: 100%;
  width: 100%;
  background-image: url('~/assets/images/icons.png');
  background-size: 1400%;
}

.cell {
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 1px solid #777;
}

.stone {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #aaa;
  border-top: 4px solid #eee;
  border-right: 4px solid #666;
  border-bottom: 4px solid #666;
  border-left: 4px solid #eee;
}
